/.NewActivity.java._trace
/NewActivity.java
/.MainActivity.java._trace
/.MainActivity_CallBacks.java._trace
/MainActivity.java
/MainActivity_CallBacks.java
/.Settings.java._trace
/.SettingsActivity.java._trace
/.MainActivity2.java._trace
/.Test.java._trace
